<div class="container">



  <form #todoForm="ngForm"(submit)="todoSubmit(todoForm);" >

    <div class="forms-group">
      <h1 class="text-center text-primary">Lista ToDo</h1>
      <div class="input-group-append">
<!--                <input type="text" #todo class="form-control"
-->
        <input type="text"
                #todo
               class="form-control"
               placeholder="Agregar"
               name="todo" ngModel>
        <span class="input-group-text"
              (click)="addTodo(todo.value)">
          <i class="material-icons">add</i></span>

      </div>

    <div class="data">
      <ul class="list-unstyled">
        <li [@moveInLeft] *ngFor="let todo of todoArray">{{todo}}
          <i  class="material-icons"
             (click)="deleteItem(todo)">delete</i></li>
      </ul>
    </div>
    </div>
  </form>

</div>
